<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>
</head>
<body>

<section class="endereco">

    <img style="width: 200pix; height: 200px; margin-top: 10px;" src="/src/assets/um-bom-CV.jpg">

    <h1>Curriculo Vitae</h1>
    <li style="list-style-type:none">Av Campina Grande, 199</li>
    <li style="list-style-type:none"> Recife, PE</li>
    <li style="list-style-type:none">CEP: 51290-040</li>
</section>

<section class="dados">
    <h2>Nelson Vieira Cunha Lima</h2>

    <li style="list-style-type:none">CPF 2121212</li>
    <li style="list-style-type:none">DATA NASCIMENTO 24/02/2000</li>
    <li style="list-style-type:none">TELEFONE 2120-2122</li>
</section>

<section class="dados">
    <h3>Cargo Pretendido</h3>

    <ul>
        <li>Professor de design responsivo</li>
        <li>Coordenador de projetos</li>
        <li>Revisor Tecnico</li>
        <li>Analista de suporte tecnico</li>
    </ul>

</section>

<section class="dados">
    <h3>Experiência Profissional</h3>

    <ul>
        <li>Estagiario de TI</li>
        <li>Engenheiro de Software</li>
        <li>Consultor de soluções de TI</li>
    </ul>

</section>

<footer>
    Elaborado por Nelson Vieira
</footer>


</body>



</html>